DirectoryIndex {{ item.index | default('index.html') }}
{% if item.extra is defined %}{% for extra in item.extra %}
    {{ extra }}
{% endfor %}{% endif %}

<VirtualHost *:80>
    ServerName {{ host }}
    DocumentRoot {{ documentroot }}
    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
    {% if item.serveradmin is defined %}ServerAdmin {{ item.serveradmin }}{% endif %}

{% if item.virtualhost_extra is defined %}{% for extra in item.virtualhost_extra %}
    {{ extra }}
{% endfor %}{% endif %}

    <Directory "{{ documentroot }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Order allow,deny
        Allow from all

        Require all granted
        Satisfy Any

{% if item.directory_extra is defined %}{% for extra in item.directory_extra %}
        {{ extra }}
{% endfor %}{% endif %}

    </Directory>
</VirtualHost>
